## Mining most correlated nutrients

# DEFINE

#### ---Define the problem ---

### The dataset is only to be used as a proving ground to show off what techniques one might use to clean, wrangle and visualize data.

In [59]:
#import everything we might need
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

__author__ = "Skyler Bullard"
__email__ = "skylercarcom@gmail.com"

### Load the data

In [60]:
"""
    Inspiration drawn from the dataset found on Niharika Pandit's Kaggle page 
    under the "Nutritional Facts for most common foods" project.
"""

data = pd.read_csv( 'nutrients_csvfile.csv' )

### The letter 't' is found in a numerical feature.

In [61]:
data.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

### Some features include null objects.

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
Food        335 non-null object
Measure     335 non-null object
Grams       335 non-null object
Calories    334 non-null object
Protein     335 non-null object
Fat         335 non-null object
Sat.Fat     333 non-null object
Fiber       335 non-null object
Carbs       335 non-null object
Category    335 non-null object
dtypes: object(10)
memory usage: 26.2+ KB

### Search for missing data and locate each index

In [63]:
"""
    This class will provide many functions to search, replace, or drop tuples
    in a desired dataframe.
    
    @param:
    @return: dictionary of missing values with indeces
"""

class ReplaceMissing:
    
    """
    Initialize object for access to variables and create
    arguments for provided flexibility
    """

    def __init__( self , df ):
        
        #provide access to instatiated dataframe
        self.df = df    
        
    """
    @param  dataframe, feature's header name
    @return  dictionary of tuples including missing values and each index
    """

    def missing_search( df , col ):
    
        #total count of missing values in feature
        count = 0
    
        #dictionary of features
        found_na = {}
        
        #boolean series
        missing_series = df[ col ].isnull()
    
        #loop boolean series
        for i in missing_series:
        
            #find missing values
            if i == True:
            
                #count missing value in feature
                count += 1
            
                #add count to dictionary
                found_na[ " Count " ] = count
            
                #add index of missing value in boolean series to dictionary
                found_na[ " Index " ] = missing_series[ missing_series == i ]

        return found_na
    
    """
    @param dataframe
    @return  dictionary of missing values with each index
    """
    
    def found_dict( df ):
        
        #create list of dataframe's feature name's
        headers = data.columns.tolist()   
    
        #check each feature name
        for name in headers:
    
            #return dictionary
            print( missing_search( data , name ) )

In [64]:
#instantiate class with data
x = ReplaceMissing( data )

In [65]:
#print dictionary of missing values
x.found_dict()

{}
{}
{}
{' Count ': 1, ' Index ': 134    True
Name: Calories, dtype: bool}
{}
{}
{' Count ': 2, ' Index ': 42     True
100    True
Name: Sat.Fat, dtype: bool}
{}
{}
{}