## Mining most correlated nutrients

# DEFINE

#### ---Define the problem ---

### The dataset is only to be used as a proving ground to show off what techniques one might use to clean, wrangle and visualize data.

In [29]:
#import everything we might need
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

__author__ = "Skyler Bullard"
__email__ = "skylercarcom@gmail.com"

### Load the data

In [30]:
    """
    Inspiration drawn from the dataset found on Niharika Pandit's Kaggle page 
    under the "Nutritional Facts for most common foods" project.
    """

data = pd.read_csv( 'nutrients_csvfile.csv' )

### The letter 't' is found in a numerical feature.

In [31]:
data.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

### Some features include null objects.

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
Food        335 non-null object
Measure     335 non-null object
Grams       335 non-null object
Calories    334 non-null object
Protein     335 non-null object
Fat         335 non-null object
Sat.Fat     333 non-null object
Fiber       335 non-null object
Carbs       335 non-null object
Category    335 non-null object
dtypes: object(10)
memory usage: 26.2+ KB

### Search for missing data and locate each index

In [136]:
def missing_search( df , col ):
        
    count = 0
        
    found_na = {}
        
    missing_series = df[ col ].isnull()
        
    for i in missing_series:
            
        if i == True:
                
            count += 1
                
            found_na[ " Count " ] = count
                
            found_na[ " Index " ] = missing_series[ missing_series == i ]
                
    return found_na

In [137]:
def missing_rows( df ):
        
    headers = df.columns.tolist()
        
    for name in headers:
            
        print( missing_search( df , name ) )

In [138]:
missing_rows( data )

{}
{}
{}
{' Count ': 1, ' Index ': 134    True
Name: Calories, dtype: bool}
{}
{}
{' Count ': 2, ' Index ': 42     True
100    True
Name: Sat.Fat, dtype: bool}
{}
{}
{}

In [165]:
data_to_drop = data.iloc[ 134 ]
    
print( data_to_drop )

Food           Frozen peas
Measure              1 cup
Grams                  100
Calories               NaN
Protein                  5
Fat                      t
Sat.Fat                  0
Fiber                  1.8
Carbs                   12
Category    Vegetables R-Z
Name: 134, dtype: object

In [166]:
data.index[ 134 ]

134

In [169]:
data.drop( data.index[ 134 ] , axis = 0 )

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products
5,Powdered milk,1 cup,103,515,27,28,24,0,39,Dairy products
6,"skim, instant",1 1/3 cups,85,290,30,t,t,0,42,Dairy products
7,"skim, non-instant",2/3 cup,85,290,30,t,t,1,42,Dairy products
8,Goats' milk,1 cup,244,165,8,10,8,0,11,Dairy products
9,(1/2 cup ice cream),2 cups,540,690,24,24,22,0,70,Dairy products
10,Cocoa,1 cup,252,235,8,11,10,0,26,Dairy products
11,skim. milk,1 cup,250,128,18,4,3,1,13,Dairy products
12,(cornstarch),1 cup,248,275,9,10,9,0,40,Dairy products
13,Custard,1 cup,248,285,13,14,11,0,28,Dairy products
14,Ice cream,1 cup,188,300,6,18,16,0,29,Dairy products
15,Ice milk,1 cup,190,275,9,10,9,0,32,Dairy products
16,Cream or half-and-half,1/2 cup,120,170,4,15,13,0,5,Dairy products
17,or whipping,1/2 cup,119,430,2,44,27,1,3,Dairy products
18,Cheese,1 cup,225,240,30,11,10,0,6,Dairy products
19,uncreamed,1 cup,225,195,38,t,t,0,6,Dairy products
20,Cheddar,1-in. cube,17,70,4,6,5,0,t,Dairy products
21,"Cheddar, grated cup",1/2 cup,56,226,14,19,17,0,1,Dairy products
22,Cream cheese,1 oz.,28,105,2,11,10,0,1,Dairy products
23,Processed cheese,1 oz.,28,105,7,9,8,0,t,Dairy products
24,Roquefort type,1 oz.,28,105,6,9,8,0,t,Dairy products
25,Swiss,1 oz.,28,105,7,8,7,0,t,Dairy products
26,Eggs raw,2,100,150,12,12,10,0,t,Dairy products
27,Eggs Scrambled or fried,2,128,220,13,16,14,0,1,Dairy products
28,Yolks,2,34,120,6,10,8,0,t,"Fats, Oils, Shortenings"
29,Butter,1T.,14,100,t,11,10,0,t,"Fats, Oils, Shortenings"
...,...,...,...,...,...,...,...,...,...,...
305,Puddings Sugar,1 cup,200,770,0,0,0,0,199,"Desserts, sweets"
306,3 teaspoons sugar,1 T.,12,50,0,0,0,0,12,"Desserts, sweets"
307,"Brown, firm-packed, dark sugar",1 cup,220,815,0,t,0,0,210,"Jams, Jellies"
308,Syrup,2 T.,40,100,0,0,0,0,25,"Jams, Jellies"
309,table blends sugar,2 T.,40,110,0,0,0,0,29,"Jams, Jellies"
310,Tapioca cream pudding,1 cup,250,335,10,10,9,0,42,"Desserts, sweets"
311,Almonds,1/2 cup,70,425,13,38,28,1.8,13,Seeds and Nuts
312,roasted and salted,1/2 cup,70,439,13,40,31,1.8,13,Seeds and Nuts
313,Brazil nuts,1/2 cup,70,457,10,47,31,2,7,Seeds and Nuts
314,Cashews,1/2 cup,70,392,12,32,28,0.9,20,Seeds and Nuts
315,coconut sweetened,1/2 cup,50,274,1,20,19,2,26,Seeds and Nuts
316,Peanut butter,1/3 cup,50,300,12,25,17,0.9,9,Seeds and Nuts
317,"Peanut butter, natural",1/3 cup,50,284,13,24,10,0.9,8,Seeds and Nuts
318,Peanuts,1/3 cup,50,290,13,25,16,1.2,9,Seeds and Nuts
319,Pecans,1/2 cup,52,343,5,35,25,1.1,7,Seeds and Nuts
320,Sesame seeds,1/2 cup,50,280,9,24,13,3.1,10,Seeds and Nuts
321,Sunflower seeds,1/2 cup,50,280,12,26,7,1.9,10,Seeds and Nuts
322,Walnuts,1/2 cup,50,325,7,32,7,1,8,Seeds and Nuts
323,Beer,2 cups,480,228,t,0,0,0,8,"Drinks,Alcohol, Beverages"
324,Gin,1 oz.,28,70,0,0,0,0,t,"Drinks,Alcohol, Beverages"
325,Wines,1/2 cup,120,164,t,0,0,0,9,"Drinks,Alcohol, Beverages"
326,Table (12.2% alcohol),1/2 cup,120,100,t,0,0,0,5,"Drinks,Alcohol, Beverages"
327,Carbonated drinks Artificially sweetened,12 oz.,346,0,0,0,0,0,0,"Drinks,Alcohol, Beverages"
328,Club soda,12 oz.,346,0,0,0,0,0,0,"Drinks,Alcohol, Beverages"
329,Cola drinks,12 oz.,346,137,0,0,0,0,38,"Drinks,Alcohol, Beverages"
330,Fruit-flavored soda,12 oz.,346,161,0,0,0,0,42,"Drinks,Alcohol, Beverages"
331,Ginger ale,12 oz.,346,105,0,0,0,0,28,"Drinks,Alcohol, Beverages"
332,Root beer,12 oz.,346,140,0,0,0,0,35,"Drinks,Alcohol, Beverages"
333,Coffee,1 cup,230,3,t,0,0,0,1,"Drinks,Alcohol, Beverages"
334,Tea,1 cup,230,4,0,t,0,0,1,"Drinks,Alcohol, Beverages"

In [171]:
print( data.iloc[ 134 ])

Food           Frozen peas
Measure              1 cup
Grams                  100
Calories               NaN
Protein                  5
Fat                      t
Sat.Fat                  0
Fiber                  1.8
Carbs                   12
Category    Vegetables R-Z
Name: 134, dtype: object