## Mining most correlated nutrients

# DEFINE

#### ---Define the problem ---

### The dataset is only to be used as a proving ground to show off what techniques one might use to clean, wrangle and visualize data.

In [182]:
#import everything we might need
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

__author__ = "Skyler Bullard"
__email__ = "skylercarcom@gmail.com"

### Load the data

In [183]:
    """
    Inspiration drawn from the dataset found on Niharika Pandit's Kaggle page 
    under the "Nutritional Facts for most common foods" project.
    """

data = pd.read_csv( 'nutrients_csvfile.csv' )

### The letter 't' is found in a numerical feature.

In [184]:
data.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

### Some features include null objects.

In [185]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
Food        335 non-null object
Measure     335 non-null object
Grams       335 non-null object
Calories    334 non-null object
Protein     335 non-null object
Fat         335 non-null object
Sat.Fat     333 non-null object
Fiber       335 non-null object
Carbs       335 non-null object
Category    335 non-null object
dtypes: object(10)
memory usage: 26.2+ KB

### Search for missing data and locate each index

In [186]:
def missing_search( df , col ):
        
    count = 0
        
    index_dict = {}
        
    missing_series = df[ col ].isnull()
        
    for i in missing_series:
            
        if i == True:
                
            count += 1
                
            index_dict[ " Count " ] = count
                
            index_dict[ " Index " ] = missing_series[ missing_series == i ]
                
    return index_dict

In [187]:
def missing_rows( df ):
        
    headers = df.columns.tolist()
        
    for name in headers:
            
        print( missing_search( df , name ) )

In [188]:
missing_rows( data )

{}
{}
{}
{' Count ': 1, ' Index ': 134    True
Name: Calories, dtype: bool}
{}
{}
{' Count ': 2, ' Index ': 42     True
100    True
Name: Sat.Fat, dtype: bool}
{}
{}
{}

In [ ]:
def drop_rows( df , index_array ):
    
    for i in index_array:
        
        df.drop( df.index[ i ] , axis = 0  , inplace = True )

In [189]:
data_to_drop = data.iloc[ 134 ]
    
print( data_to_drop )

Food           Frozen peas
Measure              1 cup
Grams                  100
Calories               NaN
Protein                  5
Fat                      t
Sat.Fat                  0
Fiber                  1.8
Carbs                   12
Category    Vegetables R-Z
Name: 134, dtype: object

In [190]:
data.index[ 134 ]

134

In [191]:
data.drop( data.index[ 134 ] , axis = 0  , inplace = True )

In [192]:
print( data.iloc[ 134 ])

Food        Split cooked peas
Measure                4 cups
Grams                     100
Calories                  115
Protein                     8
Fat                         t
Sat.Fat                     0
Fiber                     0.4
Carbs                      21
Category       Vegetables R-Z
Name: 135, dtype: object