## Mining most correlated nutrients

# DEFINE

#### ---Define the problem ---

### The dataset is only to be used as a proving ground to show off what techniques one might use to clean, wrangle and visualize data.

In [1]:
#import everything we might need
import pandas as pd
import sklearn as sk
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

__author__ = "Skyler Bullard"
__email__ = "skylercarcom@gmail.com"

### Load the data

In [2]:
    """
    Inspiration drawn from the dataset found on Niharika Pandit's Kaggle page 
    under the "Nutritional Facts for most common foods" project.
    """

data = pd.read_csv( 'nutrients_csvfile.csv' )

### The letter 't' is found in a numerical feature.

In [3]:
data.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

### Some features include null objects.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 10 columns):
Food        335 non-null object
Measure     335 non-null object
Grams       335 non-null object
Calories    334 non-null object
Protein     335 non-null object
Fat         335 non-null object
Sat.Fat     333 non-null object
Fiber       335 non-null object
Carbs       335 non-null object
Category    335 non-null object
dtypes: object(10)
memory usage: 26.2+ KB

### Search for missing data and locate each index

In [25]:
class ReplaceMissing:
    
    def __init__( self , df ):
        
        self.df = df
        
    def missing_search( df , col ):
        
        count = 0
        
        found_na = {}
        
        missing_series = df[ col ].isnull()
        
        for i in missing_series:
            
            if i == True:
                
                count += 1
                
                found_na[ " Count " ] = count
                
                found_na[ " Index " ] = missing_series[ missing_series == i ]
                
        return found_na
    
    def found_dict( df ):
        
        headers = df.columns.tolist()
        
        for name in headers:
            
            print( missing_search( df , name ) )

In [26]:
#instantiate class with data
x = ReplaceMissing( data )

#print dictionary of missing values
x.found_dict()

AttributeError: 'ReplaceMissing' object has no attribute 'columns'